{"openapi":"3.0.0","info":{"title":"Geocoding","description":"The Geocoding API provides a REST endpoint to transform addresses into geographic coordinates.","version":"v1"},"servers":[{"url":"https://sandbox.api.sap.com/spatialservices/geocoding/v1","description":"sandbox server"},{"url":"https://{serviceprefix}.cfapps.{region}.hana.ondemand.com/geocoding/v1","description":"Production URL","variables":{"serviceprefix":{"default":"spatialservices"},"region":{"default":"eu10","enum":["eu10","eu20-001","us10","ap10"]}}}],"x-sap-shortText":"Transform multiple addresses into geo positions.","security":[{"Oauth2_ClientCredentials":[]}],"externalDocs":{"description":"Click here for more information about SAP HANA spatial services","url":"https://help.sap.com/viewer/p/SAP_HANA_SPATIAL_SERVICES"},"tags":[{"name":"Geocode","description":"Transform multiple addresses into closest-matching geo positions."}],"paths":{"/geocode":{"post":{"summary":"Transform multiple addresses into closest-matching geo positions.","tags":["Geocode"],"description":"Returns a list of geo positions including their address label for a list of addresses provided as free-style search strings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GeoCodeRequest"}}},"description":"JSON object containing credentials as well as a list of strings with addresses or free-style location descriptions. Please note that the maximum number of addresses to be geocoded in one request depends on several factors such as provider support and license details (in case of BYOL). ","required":true},"responses":{"200":{"description":"For every provided address the best-fitting position including its relevance as well as address information is returned in the form of a GeoJSON Feature, even if the provided address was ambiguous (e.g. Leipziger Str., Frankfurt). If a provided address could not be successfully geocoded, an empty GeoJSON feature will be returned.","content":{"application/json":{"schema":{"type":"object","description":"See also https://tools.ietf.org/html/rfc7946#section-3.3","properties":{"type":{"type":"string","enum":["FeatureCollection"]},"features":{"type":"array","items":{"$ref":"#/components/schemas/GeoCodeFeature"}}}}}}},"400":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DefaultErrorSchema"}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"type":"string","example":"Unauthorized"}},"application/json":{"schema":{"$ref":"#/components/schemas/DefaultErrorSchema"}}}},"403":{"description":"Access forbidden","content":{"text/plain":{"schema":{"type":"string","example":"Forbidden"}},"application/json":{"schema":{"$ref":"#/components/schemas/DefaultErrorSchema"}}}},"429":{"description":"Too many requests","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DefaultErrorSchema"}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DefaultErrorSchema"}}}}}}},"/health":{"get":{"description":"The health endpoint can be used to determine the service's current status.","summary":"health endpoint","tags":["Service Health"],"parameters":[{"in":"query","name":"providers","schema":{"type":"string"},"required":false,"description":"List of providers that are requested to health check, no providers will be checked if value is set to \"false\""}],"responses":{"200":{"description":"The status of the service could sucessfully be provided. Please note that this status code does not yet tell you what the actual status of the service's health is; this information can be found in the response body.","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"description":"The service's overall health status. The value is \"UP\", if the service is healthy, and \"CRITICAL\" otherwise.","type":"string","enum":["UP","CRITICAL"]},"timestamp":{"description":"The timestamp (Unix time) when the service reported the healthy status.","type":"integer","example":1606308415},"message":{"description":"Message to explain what the reported status means.","type":"string","example":"All services are healthy"},"details":{"description":"An object that contains further details about the checks that lead to the service's reported overall status.","properties":{"HERE":{"description":"Contains the results of health checks for the respective HERE service","type":"array","items":{"properties":{"service":{"description":"The HERE service whose status was checked (see https://status.here.com/status)","type":"string","enum":["geocoding"]},"status":{"description":"The status of the checked HERE service. The value is \"OK\", if the third party service is reported as healthy, and \"CRITICAL\" otherwise.","type":"string","enum":["OK","CRITICAL"]},"message":{"description":"Message to explain what the reported status means.","example":"Service is healthy"}}}},"ESRI":{"description":"Contains the results of health checks for the respective Esri service.","type":"array","items":{"properties":{"service":{"description":"The Esri service whose status was checked.","type":"string","enum":["geocoding"]},"status":{"description":"The status of the checked Esri service. The value is \"OK\", if the third party service is reported as healthy, and \"CRITICAL\" otherwise.","type":"string","enum":["OK","CRITICAL"]},"message":{"description":"Message to explain what the reported status means.","example":"Service is healthy"}}}},"PTV":{"description":"Contains the results of health checks for the respective PTV service.","type":"array","items":{"properties":{"service":{"description":"The PTV service whose status was checked.","type":"string","enum":["geocoding"]},"status":{"description":"The status of the checked PTV service. The value is \"OK\", if the third party service is reported as healthy, and \"CRITICAL\" otherwise.","type":"string","enum":["OK","CRITICAL"]},"message":{"description":"Message to explain what the reported status means.","example":"Service is healthy"}}}},"TOMTOM":{"description":"Contains the results of health checks for the respective TomTom service.","type":"array","items":{"properties":{"service":{"description":"The Tomtom service whose status was checked.","type":"string","enum":["geocoding"]},"status":{"description":"The status of the checked TomTom service. The value is \"OK\", if the third party service is reported as healthy, and \"CRITICAL\" otherwise.","type":"string","enum":["OK","CRITICAL"]},"message":{"description":"Message to explain what the reported status means.","example":"Service is healthy"}}}},"TRIMBLE":{"description":"Contains the results of health checks for the respective Trimble service.","type":"array","items":{"properties":{"service":{"description":"The Trimble service whose status was checked.","type":"string","enum":["geocoding"]},"status":{"description":"The status of the checked Trimble service. The value is \"OK\", if the third party service is reported as healthy, and \"CRITICAL\" otherwise.","type":"string","enum":["OK","CRITICAL"]},"message":{"description":"Message to explain what the reported status means.","example":"Service is healthy"}}}}}}}}}}},"401":{"description":"Unauthorized","content":{"text/plain":{"schema":{"type":"string","example":"Unauthorized"}}}},"403":{"description":"Access forbidden","content":{"text/plain":{"schema":{"type":"string","example":"Forbidden"}}}},"404":{"description":"Resource not found.","content":{"text/plain":{"schema":{"type":"string","example":"404 Not Found: Requested route does not exist."}},"application/json":{"schema":{"$ref":"#/components/schemas/DefaultErrorSchema"},"example":{"error":{"code":"00000","message":"Cannot GET invalid route"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DefaultErrorSchema"},"example":{"error":{"code":"00000","message":"An internal server error occurred."}}}}}}}}},"components":{"securitySchemes":{"Oauth2_ClientCredentials":{"type":"oauth2","flows":{"clientCredentials":{"tokenUrl":"https://{authprefix}.authentication.{region}.hana.ondemand.com/oauth/token","scopes":{}}}}},"schemas":{"GeoJSON2DPosition":{"description":"A 2-dimensional position as defined in https://tools.ietf.org/html/rfc7946#section-3.1.1","example":[8.642978668,49.303243998],"type":"array","items":{"type":"number"},"minItems":2,"maxItems":2},"GeoJSON2DPoint":{"description":"https://tools.ietf.org/html/rfc7946#section-3.1.2","type":"object","properties":{"type":{"type":"string","enum":["Point"]},"coordinates":{"$ref":"#/components/schemas/GeoJSON2DPosition"}},"required":["type","coordinates"]},"GeoCodeRequest":{"type":"object","properties":{"credentials":{"description":"Credentials as required by the provider.","oneOf":[{"$ref":"#/components/schemas/ApiKey"}],"example":{"provider":"Here","api_key":"SAP-KEY"}},"addresses":{"description":"Each string represents an address in freestyle text format to be geocoded. The maximum length of an address string and number of addresses in this array depends on the provider support.","type":"array","maxItems":2200,"items":{"type":"string","minLength":1,"description":"Address in free-style text format","example":"Bismarckplatz, Heidelberg, Deutschland"}}},"required":["credentials","addresses"]},"GeoCodeFeature":{"type":"object","description":"The GeoCodeFeature contains one geo position and matching label as provided by the respective provider.","properties":{"type":{"type":"string","enum":["Feature"]},"geometry":{"$ref":"#/components/schemas/GeoJSON2DPoint"},"properties":{"type":"object","required":["locationLabel","relevance","address","inputIndex","precision"],"properties":{"locationLabel":{"type":"string"},"relevance":{"description":"This is the same value as \"precision.matchScore\" which is the recommended property to retrieve this information from. Please refer to its documentation for a detailed description.","type":"number","example":1},"address":{"$ref":"#/components/schemas/Address"},"inputIndex":{"type":"number","description":"Index of the input address from the request's list of addresses. This allows to attribute geocoded results to their input data.","example":0},"precision":{"$ref":"#/components/schemas/PrecisionInformation"}}}},"required":["type","geometry","properties"]},"Address":{"type":"object","description":"A location represented by an address. The combination of fields that are actually filled may vary and depends on the requested provider.","properties":{"Label":{"description":"Assembled address value built out of the parsed address components. In some cases this might be the only filled field.","type":"string","example":"Bismarckplatz, 69115 Heidelberg, Deutschland"},"City":{"type":"string","description":"Input token(s) the parser has categorized as the city part of an address.","example":"Heidelberg"},"Country":{"type":"string","description":"ISO 3166-alpha-3 country code","example":"DEU"},"County":{"type":"string","description":"Input token(s) the parser has categorized as the county part of an address.","example":"Heidelberg"},"District":{"type":"string","description":"Input token(s) the parser has categorized as the district part of an address.","example":"Bergheim"},"HouseNumber":{"type":"string","description":"Input token(s) the parser has categorized as the house number part of an address."},"PostalCode":{"type":"string","description":"Input token(s) the parser has categorized as the postal code part of an address.","example":"69115"},"State":{"type":"string","example":"Baden-Württemberg","description":"Input token(s) the parser has categorized as the state part of an address."},"Street":{"type":"string","description":"Input token(s) the parser has categorized as the street part of an address (including intersections which are defined by two streets).","example":"Bismarckplatz"},"AdditionalData":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string"},"key":{"type":"string"}}}}}},"PrecisionInformation":{"type":"object","description":"Provides information about the quality and precision of the geocoding result.","properties":{"addressType":{"type":"string","description":"The type of address, based on the highest precision the address could be resolved with. If the value is 'other', no information about the type is available. Please note that not all providers support each type of address.","enum":["country","state","county","postalCode","city","district","intersection","street","houseNumberInterpolated","houseNumberExact","houseNumberWithSupplement","other"],"example":"street"},"matchScore":{"type":"number","description":"A normalized value between 0 and 1 indicating how well all tokens from the query address string could be matched to the returned address. This value therefore represents the similarity between the query address string and the determined address. The value 1, for example, indicates that all address tokens could be matched exactly. Note: This is the same value as \"relevance\", however \"matchScore\" is the recommended property to use. For provider Trimble, the result is derived from that provider’s “ConfidenceLevel”. Please check out its definition available at https://developer.trimblemaps.com/restful-apis/appendix/glossary/.\n","example":1}}},"ApiKey":{"type":"object","properties":{"provider":{"description":"The provider from which to get the geocoding information. Currently, the following providers are supported: Here, Esri, PTV, TomTom and Trimble. The provider names are case-insensitive.","type":"string","enum":["Here","Esri","PTV","TomTom","Trimble"]},"api_key":{"description":"The ApiKey to be used for the provider. If its value is 'SAP-KEY', SAP will use established contract agreements with the respective provider. This currently is only supported for the provider HERE, when using Esri, PTV, TomTom and Trimble you need to bring your own api_key.\n","example":"<customer-specific-api_key> or SAP-KEY","type":"string","minLength":1}},"required":["provider","api_key"]},"DefaultErrorSchema":{"type":"object","required":["error"],"properties":{"error":{"type":"object","required":["code","message"],"properties":{"code":{"description":"Technical code of the error situation","type":"string","example":"00000"},"message":{"description":"Description of the error","type":"string","example":"The request body was not valid."}},"example":{"code":"00000","message":"The request body was not valid."}}}}}}}